@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@100;200;300;400;500;600;700&family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./image.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.5rem;
}
